body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 95%;
    border: 1px solid #ffffff;
}

.mainImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainImg img {
    max-width: 500px;
}

.secImg {
    position: absolute;
    top: 40%;
    left: 40.5%;
    transform: translate(-50%, -50%);
}

.secImg img {
    max-width: 500px;
}

#bg {
    padding: 0;
    position: relative;
    overflow: hidden;
    z-index: -999;
    position: absolute;
}

#bg iframe {
    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;
}

#nav {
    width: auto;
    z-index: 999;
}

#nav .list {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#nav .list a {
    text-decoration: none;
    color: #ffffff;
    font-family: consolas;
    font-size: x-large;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0 10px;
}

#nav .list a:hover {
    transition: .15s linear;
    color: #70a1ff;
}

#home {
    border: none;
    z-index: 1;
}

#about {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
}

#about .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    border: none;
    display: flex;
    align-items: center;
}

#about .content .img {
    height: 700px;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
}

#about .content .img img {
    max-height: 100%;
    box-shadow: 0 0 5px 1px #000;
}

#about .content .text {
    height: 500px;
    width: 50%;
    float: left;
}

#about .content .text h2 {
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: consolas;
    margin: 0;
    text-shadow: .5px .5px 5px rgba(0, 0, 0, .8);
}

#about .content .text p {
    color: #ffffff;
    font-size: large;
    letter-spacing: 1px;
    font-family: consolas;
    margin-right: 10%;
    text-shadow: .5px .5px 10px rgba(0, 0, 0, .8);
}

#backVideo {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media(min-aspect-ratio: 16/9) {
    #backVideo {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9) {
    #backVideo {
        width: auto;
        height: 100%;
    }
}

.image-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-box img {
    max-width: 600px;
    border: 10px solid rgb(255, 255, 255, 0.2);
    box-sizing: border-box;
}

.image-box ul {
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.image-box ul li {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0 30px;
    margin-bottom: 30%;
    position: relative;
    color: #ffffff;
    cursor: pointer;
}

.image-box .active {
    color: #e7c82f;
}

.image-box ul li::after {
    content: '';
    width: 30px;
    height: 2px;
    background: transparent;
    position: absolute;
    top: 10px;
    left: -5px;
}

.image-box .active::after {
    color: #e7c82f;
}

.textinfo-box {
    color: #ffffff;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: consolas;
    margin: 0;
    text-shadow: .5px .5px 5px rgba(0, 0, 0, .8);
    text-align: center;
}

.textinformation-box {
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
    font-family: consolas;
    text-shadow: .5px .5px 5px rgba(0, 0, 0, .8);
    margin-top: 25%;
}